<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="chart_div"></div>

<script>google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawLogScales);

function drawLogScales() {
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'godziny');
      data.addColumn('number', 'Polubienia');
      data.addColumn('number', 'Komentarze');

      data.addRows({{data}});

      var options = { 'height':700,
        hAxis: {
          title: 'Data',

        },
        vAxis: {
          title: 'aktywność',

        },
        series: {
          1: {curveType: 'function'}
        },
        colors: ['#a52714', '#097138']
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
</script>

</body>
</html>